.forgot-password-container {
    max-width: 400px;
    margin: auto;
    margin-top: 10rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: left;
  }
  
  .forgot-password-container h1 {
    font-size: 2rem;
    color: #282c34;
    text-align: center;
  }
  
  .form-group {
    margin: 20px 0;
  }
  
  .form-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    width: 80%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: darkgreen;
  }
  
  .message {
    margin-top: 20px;
    color: green;
    font-size: 1rem;
  }
  