/* Global Styling */
.body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../../public/images/bg1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    height: 100vh; 
    padding: 2rem;
  }
  
  
  /* Hero Section */
  .hero-section {
    height: 20rem;
    width: 40rem;
    margin: auto;
    background-image: url('../../public/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    color: black;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    border: 0px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #356c8c;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-style: normal;
  }
  
  .btn {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  
  .btn {
    background-color: #007bff;
    color: white;
  }
  
  .btn-outline {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
  }
  
  .btn-outline:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Features Section */
  .features-section {
    height: 15rem;
    width: 80rem;
    margin: auto;
    margin-top: 2rem;
    padding: 20px 20px;
    text-align: center;
    background-color: #3c9fc4;
    border: 0px solid black;
    border-radius: 5px;
  }
  
  .features-section h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: whitesmoke;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .feature {
    max-width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .feature:hover {
    transform: scale(1.05);
  }
  
  .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1rem;
    color: #555;
  }
  